<!-- <p>list-leads works!</p>-->
<!-- <button (click)="addLead()">להוספת ליד</button>  -->
<app-generic-bourd 
[data]="Leads" 
[loading]="loading"
[globalFilterFields]="['phone', 'email']"
[col$types]="{'firstName':'text', 'lastName': 'text','email':'text','phone':'text','source':'text','createdDate':'date','lastContactedDate':'date','businessName':'text'}"
[positionData]="[]"
[objData]="[]"
[objFields]="[]"
(edit)="onEditLead($event)"
(delete)="onDeleteLead($event)"
(showAddComponent)="addLead()"
>
</app-generic-bourd>
<div #popupContainer></div>