<div class="add-task-form">
  <form [formGroup]="projectForm" (ngSubmit)="onSubmit()">
    <h1>{{this.titlePage |translate}}</h1>

    <div class="line"></div>

    <label for="name">{{'TitleInputLabel'|translate}}</label>
    <div class="card flex justify-content-center">
      <input type="text" id="name" pInputText matInput formControlName="name" formControlName="name"
        class="input-field">
      <mat-error *ngIf="name!.invalid && (name!.touched || name!.dirty)">שדה חובה </mat-error>
    </div>
    <label for="description">{{'DescriptionInputLabel'|translate}}</label>
    <div class="card flex justify-content-center">
      <textarea style="width:400px;" id="description" formControlName="description" pInputText
        class="input-field"></textarea>
      <mat-error *ngIf="description!.invalid && (description!.touched || description!.dirty)">שדה חובה </mat-error>
    </div>

    <label for="date">{{'startDateInputLabel'|translate}}</label>
    <div class="card">
      <p-calendar id="startDate" formControlName="startDate" placeholder="mm/dd/yyyy" class="input-field"></p-calendar>
      <mat-error *ngIf="startDate!.invalid && (startDate!.touched || startDate!.dirty)">
        <ng-container *ngIf="startDate!.errors?.['required']; else notFutureDate">
          שדה חובה
        </ng-container>
        <ng-template #notFutureDate>
          <ng-container *ngIf="startDate!.errors?.['notFutureDate']">
            התאריך חייב להיות עתידי
          </ng-container>
        </ng-template>
      </mat-error>
    </div>
    <label for="date">{{'endDateInputLabel'|translate}}</label>
    <div class="card">
      <p-calendar id="endDate" formControlName="endDate" placeholder="mm/dd/yyyy" class="input-field"></p-calendar>
      <mat-error *ngIf="endDate!.invalid && (endDate!.touched || endDate!.dirty)">
        <ng-container *ngIf="endDate!.errors?.['required']; else p">
          שדה חובה
        </ng-container>
        <ng-template #p>
          <ng-container *ngIf="endDate!.errors?.['invalidDates']">
            ertyuiopoiuytre
          </ng-container>
        </ng-template>
      </mat-error>
    </div>    
    <div class="card">
      <p-dropdown formControlName="status" [options]="statuses" optionLabel="description"
      [placeholder]="'StatusInputSelect'|translate" class="select-field"></p-dropdown>
      <mat-error *ngIf="status!.invalid && (status!.touched || status!.dirty)">שדה חובה </mat-error>
    </div>
    <div class="card">
      <p-dropdown formControlName="customer" formControlName="customerId" [options]="custom" optionLabel="firstName"
      [placeholder]="'castomerInputSelect'|translate" class="select-field" />
      <!-- <mat-error *ngIf="status!.invalid && (status!.touched || status!.dirty)">שדה חובה </mat-error> -->
    </div>
    <button type="submit" class="submit-button" [disabled]="!projectForm.valid"><label *ngIf="!projectForm.valid">your details isnt
        correct</label><label *ngIf="projectForm.valid">create project</label></button>
  </form>
  <div>