/* //*/
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4;
}

.login-form {
  display: flex;
  flex-direction: row;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.login-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.login-inputs {
  padding: 2rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-inputs form {
  width: 300px;
}

.login-inputs h1 {
  margin-bottom: 1rem;
}

.input-style {
  width: 100%;
}

.submit-button {
  width: 100%;
  margin-top: 1rem;
  /* background-color:#000000 ; */
}

.forgot-password,
.signup-text {
  text-align: center;
  margin-top: 1rem;
}
.login-image img {
  width: 100%;
  height: auto; 
  max-width: 400px;  
  max-height: 500px;  
  object-fit: cover;  
}
mat-form-field {
  .mat-form-field-wrapper {
    background-color: white;
    border-radius: 0 20px 20px 0;
  }
  .mat-form-field-outline {
    color: #5CFFAC;
  }
  .mat-form-field-underline {
    background-color: #5CFFAC;
  }
  .mat-form-field-outline-thick {
    color: #5CFFAC;
  }
  .mat-form-field-outline-start {
    border-left-color: #5CFFAC;
  }
  .mat-form-field-outline-end {
    border-right-color: #5CFFAC;
  }
  .mat-form-field-outline-gap {
    border-top-color: #5CFFAC;
  }
  .mat-input-element {
    border-radius: 0 20px 20px 0;
    background-color: white !important;
  }
  .mat-form-field-ripple {
    background-color: #5CFFAC !important;
  }
}

.submit-button {
  width: 100%;
  padding: 10px;
  border-radius: 0 20px 20px 0;
  background-color: #5CFFAC;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  &:hover {
    background-color: #4cd99b;
  }
  &:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
}

.forgot-password {
  text-align: center;
  cursor: pointer;
  color: #5CFFAC;
}

.signup-text {
  text-align: center;
  a {
    color: #5CFFAC;
    cursor: pointer;
    text-decoration: underline;
  }
}
app-google{
  text-align: center;
}