<div class="continue-with-wrapper">
  <div class="line"></div> <!-- פס שמאלי -->
  <div class="continue-with-text">{{'OrContinueWith'|translate}}</div>
  <div class="line"></div> <!-- פס ימני -->
</div>
<button type="submit" (click)="initGoogleOneTap()" class="submit-button"><i class="pi pi-google"></i></button>



<!-- <div id="g_id_onload" data-client_id="592574124687-bvpc5dmgfms66j1q6725fi5gevmsmtmf.apps.googleusercontent.com"
  data-callback="initGoogleOneTap" data-auto_prompt="false">
</div>

<div class="g_id_signin" data-type="standard" data-size="large" data-theme="outline" data-text="sign_in_with"
  data-shape="rectangular" data-callback="initGoogleOneTap" data-logo_alignment="left">
</div> -->