<div class="reset-form">
  <form (ngSubmit)="onSubmit()" [formGroup]="resetForm">
    <h1>{{'ResetPasswordTitle'|translate}}</h1>
    <mat-form-field>
      <mat-label>{{'PasswordInputLabel'|translate}}</mat-label>
      <input
        class="input-style"
        matInput
        formControlName="password"
        [type]="hide() ? 'password' : 'text'"
      />
      <mat-error *ngIf="pass.hasError('required')">{{'RequiredField'|translate}}</mat-error>
      <button
        mat-icon-button
        matSuffix
        (click)="clickEvent($event)"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide()"
        type="button"
      >
        <mat-icon>{{ hide() ? "visibility_off" : "visibility" }}</mat-icon>
      </button>
    </mat-form-field>

    <mat-form-field>
      <mat-label>{{'PasswordAuthentication'| translate}}</mat-label>
      <input
        class="input-style"
        matInput
        formControlName="passwordAuthentication"
        [type]="hideAuth() ? 'password' : 'text'"
      />
      <mat-error *ngIf="authPass.hasError('required')">{{'RequiredField'|translate}}</mat-error>
      <mat-error *ngIf="authPass.hasError('notValid')">{{'AuthenticationFailed'|translate}}</mat-error>
      <button
        mat-icon-button
        matSuffix
        (click)="clickEventAuth($event)"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hideAuth()"
        type="button"
      >
        <mat-icon>{{ hideAuth() ? "visibility_off" : "visibility" }}</mat-icon>
      </button>
    </mat-form-field>

    <div
      *ngIf="pass && (pass.touched || pass.dirty)"
      class="password-check"
      [ngClass]="{
        'red-box': pass.invalid && pass.value,
        'green-box': !pass.invalid
      }"
    >
      <div *ngIf="pass.value">
        <p>
          {{'PasswordLengthLabel'|translate}}
          <span *ngIf="pass.errors?.['validLength'] !== false" class="valid"
            >&#10003;</span
          >
          <span *ngIf="pass.errors?.['validLength'] === false" class="invalid"
            >&#10007;</span
          >
        </p>
        <p>
          {{'PasswordCharacterLabel'|translate}}
          <span *ngIf="pass.errors?.['hasLowerCase'] !== false" class="valid"
            >&#10003;</span
          >
          <span *ngIf="pass.errors?.['hasLowerCase'] === false" class="invalid"
            >&#10007;</span
          >
        </p>
        <p>
          {{'PasswordDigitLabel'|translate}}
          <span *ngIf="pass.errors?.['hasNumber'] !== false" class="valid"
            >&#10003;</span
          >
          <span *ngIf="pass.errors?.['hasNumber'] === false" class="invalid"
            >&#10007;</span
          >
        </p>
      </div>
    </div>
    <br />
    <button type="submit" [disabled]="resetForm.invalid" class="submit-button">
      שמירת הסיסמה
    </button>
  </form>
</div>
