.valid {
  color: green;
  font-weight: bold;
}

.invalid {
  color: red;
  font-weight: bold;
}

.reset-form {
  max-width: 400px; /* מגביל את הרוחב המקסימלי של הטופס ל-400 פיקסלים */
  margin: auto; /* ממקם את הטופס במרכז האופקי */
  margin-top: 100px;
  padding: 20px; /* מוסיף ריווח פנימי */
  border: 1px solid #ccc; /* מוסיף גבול מסביב לטופס */
  border-radius: 5px; /* מעגל את פינות הגבול */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* מוסיף הצללה קלה */
  text-align: center; /* ממרכז את הטקסט והאלמנטים בטופס */
}

.reset-form h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

mat-form-field {
  width: 80%;
  margin-bottom: 15px;
}

.input-style {
  width: 100%;
}

.error-message {
  color: red;
  font-size: 12px;
  text-align: left;
}

.forgot-password {
  color: #007bff;
  cursor: pointer;
  font-size: 14px;
  margin-bottom: 20px;
}

.submit-button {
  background-color: #28a745;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  width: 80%;
}

.submit-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.signup-text {
  margin-top: 20px;
  font-size: 14px;
}

.signup-text a {
  color: #007bff;
  text-decoration: none;
}

.password-check {
  margin: auto;
  width: 80%;
  border-radius: 7px;
}

.green-box {
    border: 2px solid rgb(53, 187, 53);
}
.red-box {
    border: 2px solid red;
}
